In [ ]:
#Calculating Mean and Median
#The pandas functions can be directly used to calculate these values.

In [1]:
import pandas as pd

In [22]:
p={ "Score":pd.Series([95,76,68,81,82,66,76,86,88,60])}

In [23]:
df=pd.DataFrame(p)

In [24]:
df

   Score
0     95
1     76
2     68
3     81
4     82
5     66
6     76
7     86
8     88
9     60

In [25]:
#Calculate Means 
df.mean()

Score    77.8
dtype: float64

In [26]:
df

   Score
0     95
1     76
2     68
3     81
4     82
5     66
6     76
7     86
8     88
9     60

In [27]:
#Calculate Median
df.median()

Score    78.5
dtype: float64

In [13]:
df

   Score
0     95
1     76
2     69
3     91
4     82
5     76
6     76
7     86
8     88
9     60

In [ ]:
#Calculate Mode

In [15]:
df.mode()

   Score
0     76

In [18]:
import pandas as pd
data = pd.read_csv('Tendecy1.csv')
print (data)

   Score
0     95
1     76
2     69
3     91
4     82
5     76
6     76
7     86
8     88
9     60

In [20]:
#Calculate Mean
data.mean()

Score    79.9
dtype: float64

In [21]:
#Calculate Median
data.median()

Score    79.0
dtype: float64

In [28]:
#Calculate Median
data.mode()

   Score
0     76